!!!
%html
  %head
    %meta{ name: "viewport", content: "width=device-width, initial-scale=1" }
    %meta{ content: "text/html; charset=UTF-8", "http-equiv" => "Content-Type" }/
    %title MaterialBooks
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true
    = javascript_include_tag 'application', 'data-turbolinks-track' => true
    = csrf_meta_tags
  %body
    .container
      .row
        .col-md-12
          .navbar.navbar-default
            .navbar-header
              = link_to('Material Books', root_path, class: 'navbar-brand')
      = yield
